<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string></string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.joshua.VFPB.plist</string>
				<key>key</key>
				<string>Enabled</string>
				<key>label</key>
				<string>Enabled</string>
				<key>PostNotification</key>
				<string>com.joshua.VFPB.preferences.changed</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Donate 😃</string>
				<key>action</key>
				<string>donate</string>
				<key>cellClass</key>
				<string>PSTableCell</string>
				<key>isButton</key>
				<true/>
				<key>labelColor</key>
				<string>#007AFF</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>· @82Flex
· @leptos
· @4vyolit
· @nightwinddev
· @nowisdev for beautiful icon
· ipadkid358 for FLEXit
· LacertosusDeus for 2 of his open-source tweaks
				</string>
			</dict>

		</array>
		<key>title</key>
		<string>VolumeFLEX</string>
	</dict>
</plist>
